@media only screen and (max-width:767px) {

.cart-wrapper .cross{
    left: 16px !important;
    top: 30px !important;
}
/*************** Checkout responsiveness ****************/
.billing{
    font-size: 13px !important;
} 
.checkout-pharmacy{
    font-size: 13px !important;
    padding-bottom: 25px;
}
.cart_toggle{
right: 2rem;
position: absolute !important;
top: 2.5rem;
}
.shipping-add{
font-size: 13px;
padding-bottom: 35px;
}
.cart-name{
    width:150px !important;
}
.review-order-box{
margin-top: 20px;
}
.checkout-btn{
        margin-bottom: 50px !important;
    
}
}