/* span.select2{
    width: 83% !important;
} */

.agreemodal {
    background: #04152d !important;
}

.btn-success {
    background-color: #127e2c !important;
    border: 2px solid #127e2c !important;
}