.sidebar {
    top: 40px !important;
    margin-top: 30px !important;
}

.sidebar .user-info {
    height: 100px !important;
    color: #333 !important;
}

.sidebar .user-info .admin-action-info {
    position: relative;
    top: 10px;
}

.username {
    border-bottom: 1px solid #fff;
}

.admin-image {
    width: 30px !important;
    height: 0px !important;
    cursor: pointer;
}

.navbar .clearHeader .n-top {
    background-color: #08295a !important;
}

/* .admin-image:hover .profile-info{
background:linear-gradient(45deg, #4675bb  , #08295a)!important;
opacity: 1;
border-radius:13px !important;
width:250px !important;
height:0;
float:right;
transition: 0.5s;
display: inline;
} */
#profile-info {
    color: white !important;
    text-align: center !important;
    transition: 0.5s;
    height: auto !important;
    width: 250px !important;
    background: linear-gradient(45deg, #4675bb, #08295a) !important;
    border-radius: 13px !important;
    float: right;
    margin-top: 10px;
    padding: 10px;
    display: none;

}

.icon {
    color: #fff !important;
}

.navbar {
    padding: 0px !important;
    z-index: 12 !important;
    /*background:linear-gradient(45deg, #4675bb  , #08295a)!important;*/
    height: 54px;
    margin-left: 249px;
    width: 83%;
}

.n-top {
    z-index: 11 !important;
}

.m-top {
    z-index: 12 !important;
}

.navbar-nav {
    padding: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 25%;
    right: 40%;
}
