.heading p {
    /* margin: 5px 0px; */
    font-weight: bold;
}

.heading_row {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.table {
    border: 5px ridge grey !important;
}

.table-bordered tbody tr td,
.table-bordered tbody tr th {
    border: 1px solid black !important;
}

.cancel {
    background: #333 !important;
    color: #fff !important;
    border-radius: 20px !important;
}

.cross-input {
    position: relative;
}

.cross {
    position: absolute;
    right: 20px;
    top: 25px;
}
